.ft-cta-double {
	background: #ddd6f3;
	background: linear-gradient(to left, #ddd6f3 , #faaca8);
	.column {
		@extend .p1;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.column-inner {
		@extend .p1;
		@extend .bg-white;
		@extend .text-center;
		border-radius: $global-radius;
		> .fa {
			@extend .fa-2x;
			@extend .mb1;
		}
	}
	span {
		font-size: 50%;
	}
	span,
	a {
		display: block;
		.fa {
			margin-right: 1rem;
			font-size: 1rem;
		}
	}
	.button:hover {
		color: $white;
	}
}
.footer {
	a { text-decoration: none; }
	@extend .bg-red;
	.large-text-left {
		text-align: center;
		@include breakpoint( large ) {
			text-align: left;
		}
	}
	.footer-title {
		@extend .color-gainsboro;
		i {
			@extend .mr1;
			font-size: 1.5rem;
			@extend .color-gainsboro;
		}
	}
	ul li {
		padding: .5rem 0;
	}
	p:not(.footer-title),
	a,
	address {
		color: $white;
		transition: color $mediumDuration;
		display: inline-block;
		&:hover {
			color: $black;
		}
	}
	.footer-sns {
		a { @extend .m1; }
	}
	.collapsible {
		@extend .bg-white;
	}
	.collapsible-header {
		@extend .color-primary;
		display: block !important;
		&:hover {
			@extend .color-primary;
			@extend .t-shadow-1-half;
		}
	}
	.collapsible-body {
		display: none;
		a {
			@extend .color-primary;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}