.l-cta {
    &_wrapper {
        /* fallback for old browsers */
        background: #232526;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(-45deg, #232526, #414345);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(-45deg, #232526, #414345);
    }
}

.l-cta_recruit {
    padding: 2rem 0;
    h2,
    a {
        text-align: center;
        color: #FFF;
        font-size: 1.5rem;
        line-height: 1.5;
    }
}

.fp-topheader .button-group {
    display: table;
    margin: 0 auto;
    @media (min-width: 830px) {
        width: 376px;
    }
}