.fp--cases {
		padding: {
				top: 2rem;
				bottom: 2rem;
		}
		background-color: #FFF;
}

.cases--title {
		text-align: center;
		&__category {
				font-size: 1.25rem;
				margin-bottom: 1rem;
				position: relative;
				&::after {
						content: '';
						position: absolute;
						bottom: -.5rem;
						left: 1rem;
						width: 2rem;
						height: 1px;
						background-color: $dark-gray;
				}
		}
}

.post--cases__front {
		border-radius: $global-radius;
		border-bottom: 1px solid $light-gray;
		&:nth-of-type(2n) {
				background-color: $light-gray;
				border-bottom: 1px solid #FFF;
		}
}