.menu--primary__wrap {
		background-color: #FFF;
		border-bottom: 1px solid map-get($ym_color, home);
		.is-submenu-item {
				border-top: 1px dashed rgba($primary-color, .2);
		}
		.menu--item {
				background-color: #fce2e3;
		}
}

.sidebar {
		.menu--item {
				color: $anchor-color;
		}
}

.footer {
		.menu--item {
				color: #FFF;
		}
}

.sidebar--item .menu.nested.menu__wrap--level-1 {
		@include breakpoint(medium down) {
				display: none;
		}
}