.fp--topheader {
		padding: 2rem 0;
		background-color: map-get($matelial_color, red);
		>.row {
				@extend .align-middle;
		}
}

.topheader--button {
		color: map-get($ym_color, home);
		background-color: #FFF;
		border-radius: $button-radius;
		>.button {
				@extend .topheader--button;
				@extend .expanded;
				margin: 0;
		}
		&.button-group {
				background-color: #DDD;
		}
}