.contents {
		margin: rem-calc(20px) auto;
		padding-top: rem-calc(20px);
		background-color: #FFF;
		.single-dtdsh-lp & {
				margin-top: 0;
				padding-top: 0;
		}
		&.--mt0 {
				margin-top: 0;
		}
		&.--pt0 {
				padding-top: 0;
		}
		h1:not(.contents--title) {
				background-color: map-get($matelial_color, orange);
				border-radius: $global-radius;
				padding: 1rem .5rem;
				margin: 5rem auto 2.625rem;
		}
		h2:not(.contents--title) {
				padding-left: .85rem;
				margin: 5rem auto 2.625rem;
				border-left: 5px solid map-get($ym_color, home);
		}
		h3:not(.contents--title) {
				border-left: 5px solid map-get($matelial_color, orange);
				padding-left: .85rem;
				margin: 3.75rem auto 1.35rem;
		}
		h4:not(.contents--title) {
				border-left: 5px solid $medium-gray;
				padding-left: .85rem;
				margin: 1.25rem auto 1.35rem;
		}
		p {
				line-height: 2.15;
				margin-bottom: rem-calc(20px);
		}
}

.contents--section {
		padding-bottom: 3rem;
		background-color: #FFF;
		&_button {
				svg {
						width: 1.5rem;
						height: 1.5rem;
						vertical-align: middle;
						margin-top: -6px;
						margin-right: .5em;
				}
		}
}

.contents--title {
		border-left: none;
		padding-left: 0;
		text-align: center;
		@extend .title--border-bottom;
}

.content--box {
		position: relative;
		margin: 5px auto;
		padding: 1.5rem;
		background-color: #FFF;
		border: 1px solid $light-gray;
		box-shadow: 1px 1px 1px 0 $light-gray;
		&_alert {
				position: absolute;
				top: 0;
				right: 0;
				font-size: 1rem;
		}
		&_desc {
				dl {
						@include clearfix();
				}
				dt {
						float: left;
						margin-right: 1rem;
				}
		}
		&_button {
				text-align: right;
				margin-top: 2rem;
				margin-bottom: 0;
				.button {
						margin-bottom: 0;
				}
		}
}

.single-dtdsh-lp {
		.header--title__lp {
				background-color: transparent !important;
		}
		.contents--wrap {
				@extend .expanded;
		}
		.cta--lp__title {
				padding-left: 0 !important;
				border-left: none !important;
				margin: auto !important;
		}
}