.header--lp {
		background: {
				position: center center;
				size: cover;
				repeat: no-repeat;
		}
		.column {
				padding: {
						top: 1rem;
						bottom: 1rem;
				}
				@include breakpoint(medium) {
						padding: {
								top: 2rem;
								bottom: 2rem;
						}
				}
		}
}

.cta--lp__wrap {
		padding: {
				top: 2rem;
				bottom: 2rem;
		}
		background-color: #FFF;
}

.cta--lp {
		padding: {
				top: 1rem;
				bottom: 1rem;
		}
		@include breakpoint(medium) {
				padding: {
						top: 2rem;
						bottom: 2rem;
				}
		}
}

.cta--lp__title {
		@include breakpoint(small only) {
				padding-top: 1rem;
		}
		@include breakpoint(medium) {
				font-size: 1.5rem;
		}
		>.font-2x {
				font-size: 2em;
		}
}

.cta--lp__wrap .button {
		margin-top: 1rem;
		@include breakpoint(medium) {
				margin-top: 2rem;
		}
		@include breakpoint(large) {
				margin-top: 0;
		}
}

.nav--lp {
		@include breakpoint(small only) {
				display: none !important;
				visibility: hidden !important;
				opacity: 0 !important;
		}
		background-color: #FFF;
		margin: 0 auto;
		padding: .5rem 1rem;
		text-align: center;
		.menu,
		li,
		a {
				color: currentColor;
		}
		.menu>li {
				display: inline-block;
				&>a.active {
						color: #FFF;
				}
		}
}

.title--lp {
		text-align: center;
		padding-bottom: 1rem;
		border-left: none !important;
		@include breakpoint(medium) {
				padding-top: 0;
				padding-bottom: 3rem;
		}
		@include breakpoint(large) {
				padding-top: 2rem;
				padding-bottom: 2rem;
		}
		>.font-2x {
				font-size: 2em;
		}
		&.-sub {
				padding-top: 2rem;
				padding-bottom: 1rem;
				font-size: 1.25rem;
		}
}