$rikon_id: '2916';
$sozoku_id: '2917';
$kabarai_id: '2918';
.layout-lp {
		margin: 0 auto;
		.title-block {
				padding: 3rem 0;
				border: {
						top: 1px solid $black;
						bottom: 1px solid $black;
				}
				@extend .text-center;
		}
		section {
				padding: rem-calc(80 0);
		}
		.cta-lp {
				.button {
						font-size: 120%;
				}
		}
}

.header-lp {
		.sub-nav {
				@include clearfix();
				dt,
				a {
						color: #FFF;
				}
				.active {
						background-color: #FFF;
						border-radius: $global-radius;
				}
		}
}

.header--lp {
		background: {
				position: center center;
				size: cover;
				repeat: no-repeat;
		}
		.column {
				padding: {
						top: 1rem;
						bottom: 1rem;
				}
				@include breakpoint(medium) {
						padding: {
								top: 2rem;
								bottom: 2rem;
						}
				}
		}
}

.js-countup {
		font-size: 3rem;
		vertical-align: bottom;
		margin: 1rem 1rem -1rem;
		display: inline-block;
}

.content-header {
		margin-top: 2rem;
		margin-bottom: 2rem;
		.caution {
				position: relative;
				margin-top: 2rem;
				h3 {
						position: absolute;
						display: inline-block;
						top: -20px;
						left: 20%;
						padding: 0.5rem 1rem;
				}
				p {
						padding: 5rem;
						display: inline-block;
				}
		}
}