.card {
	overflow: hidden;
	margin-top: 0;
	border-radius: 0;
	&:hover {
		@extend .b-shadow-1-half;
	}
	& > a {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	[class^="category-"] {
		right: auto !important;
		bottom: auto !important;
		display: block;
		padding: 5px 10px;
		z-index: 1;
		background-color: $primary-color;
		color: $white;
		@extend .b-shadow-1;
		&:hover {
			@extend .b-shadow-1-half;
		}
	}
	.card-title {
		font-family: $main-font;
	}
	.card-content {
		position: relative;
	}
	.card-reveal {
		background-color: rgba( $black, .7 );
		> * {
			color: $white;
		}
	}
	.btn-circle {
		position: absolute;
		top: -27.75px;
		right: .5rem;
	}
	.btn-close {
		top: .3rem;
		right: .3rem;
		width: 2rem;
		height: 2rem;
		line-height: 2rem;
		.fa {
			line-height: 2rem;
			font-size: 1.7rem;
		}
	}
	time {
		color: $oil;
		font-size: 1.5rem;
		padding: .5rem 1rem;
	}
	&.post-list {
		.card-img {
			@include breakpoint( medium ) {
				float: left;
			}
			img {
				@include breakpoint( medium ) {
					width: 200px;
				}
			}
		}
		.card-title {
			@include breakpoint( medium ) {
				position: relative;
				left: 1rem;
				line-height: 1.4 !important;
			}
		}
	}
}