#select-member {
	.img-wrapper {
		width: 210px;
		height: 210px;
		@extend .m0-auto;
		img {
			width: 210px;
			height: 210px;
			border-radius: 210px;
		}
	}
	.name {
		font-size: 1.5rem;
	}
	.subtitle {
		display: block;
		font-size: 1rem;
	}
}