<%
const path = {
	home: 'http://www.law-yamashita.dev/',
	css: path.home + 'wp-content/themes/law-yamashita/assets/css/',
	svg: path.home + 'wp-content/themes/law-yamashita/assets/svg/svg.svg#',
	js: path.home + 'wp-content/themes/law-yamashita/assets/js/',
	img: path.home + 'wp-content/themes/law-yamashita/assets/img/',
};
%> <h2>離婚後の生活が心配な方へ</h2> <h3>母子世帯で困っていることのトップは、「お金」</h3> <p><img src="<%= path.img + 'after-support/report-01.png'; %>" alt="母子世帯の46%が「お金」で困っている"></p> <p>今の婚姻生活には耐えられないと思いつつ、一方で離婚後の生活での経済的不安から離婚を思いとどまっている人は少なくないでしょう。</p> <p>現に、母子世帯で困っていることのトップは家計のことで、全体の46％を占め（平成23年、全国母子世帯等調査）、その家計については、<span class="bg-line">53％が大変苦しい、27％が苦しい</span>と感じているのです（平成17年、国民生活基礎調査）。<br>離婚後の生活設計は、離婚を考える上での最大の関心事にならざるを得ませんよね。</p> <p>もし離婚した場合、その後の生活がどうなるのか、お金の専門家と一緒にシミュレーションができたら良いと思いませんか？離婚するにせよ、しないにせよ、その決断を補強できる判断材料があると心強いですよね。</p> <p>山下江法律事務所では、離婚後の生活が心配な方のために、<a href="<%= path.home; %>members/今井絵美" ttile="マネーバランス・ドクター®">マネーバランス・ドクター®</a>による離婚後の家計シミュレーションを行っています。離婚に関わる法的判断材料は弁護士が提供しますが、この家計シミュレーションは弁護士による無料相談を終えた人だけに8,000円でお申込みいただけるサービスです。60分間のご相談と家計シミュレーション表がセットになっています。</p> <p>これから起こるライフイベントに合わせて、いつ、どれくらいのお金が必要になるのかといった見通しが立てば、周囲への説得にもきっと役立ちます。もちろん、シミュレーションの結果、経済的不安から離婚は無理と判断されることもあるかもしれません。その場合は、婚姻関係の継続への不安より離婚後の生活への不安の方が大きいことに「気づいた」というだけのことです。離婚できないことで自身の無力感にさいなまれる必要はありません。</p> <p>気持ちの整理にサポートが必要でしたら、山下江法律事務所にはメンタルケア心理士®も在籍しています。</p> <p>山下江法律事務所は、離婚問題に真剣に悩む方のお力になれるのは弁護士だけだとは考えていません。人生における重大な決断の一つである離婚に悩まれている方が笑顔を取り戻せるようお力になれることはないか、常に所員全員で考えている事務所です。</p> 