.widget_ringox_voice_show {
	.widget-title {
		margin-bottom: .5rem;
	}
	li:not(.tab-title) {
		margin: 1rem auto 0;
		padding-bottom: 1rem;
		border-bottom: 1px dashed $gainsboro;
		&:last-child {
			border-bottom: none;
		}
	}
	.tab-title {
		width: 50%;
	}
	.content {
		padding: 0.9375rem 0 0 !important;
		ul {
			margin: 0 1rem;
		}
	}
}