<%
const path = {
	home: 'https://dev.law-yamashita.com/',
	css: 'https://dev.law-yamashita.com/wp-content/themes/law-yamashita/assets/css/',
	svg: 'https://dev.law-yamashita.com/wp-content/themes/law-yamashita/assets/svg/svg.svg#',
	js: 'https://dev.law-yamashita.com/wp-content/themes/law-yamashita/assets/js/',
	img: '//dev.law-yamashita.com/wp-content/themes/law-yamashita/assets/img/',
};
%>
<h2>事業承継とは？</h2>
<p>事業承継とは、会社の経営者と後継者がお互いに意思の疎通をはかりながら、経営者としての地位や株式・不動産などの資産を後継者へ引き継ぐことです。</p>
<p>日本の中小企業にとって、今や大きな問題となっている事業承継問題。事業を後継者へ引き継ぐに当たって、<span class="bg-line">何かしらの障害があると認識している経営者</span>は、全体の４割強もいます。（平成13年中小企業庁実施アンケートより）<br>そもそも後継者が確保できなかったり、育成に時間がかかったりと事業の引き継ぎには相当の準備期間が必要です。</p>
<h3>悩んでいるのは、あなただけではありません。</h3>
<p><img src="<%= path.img + 'succession/graph--03.png' %>" alt="広島県は、後継者不足！"><br><cite><a href="https://www.tdb.co.jp/report/watching/press/pdf/s160304_60.pdf" target="_blank" rel="nofollow">株式会社帝国データバンク広島支店調べ</a></cite></p>
<p>全国で3番目に高い<strong class="bg-line">広島の後継者不在率は、74.7%</strong>で全国平均66.1%を大きく上回っています。</p>

<h2>事業承継の実態</h2>
<h3>事業承継の準備</h3>
<p>70代・80代の経営者でも「準備をしている」と答えたのは半数以下...。</p>
<p><img src="<%= path.img + 'succession/graph--01.png' %>" alt="中小企業の経営者は、あまり事業承継の準備をしていない...。"><br><cite><a href="http://www.chusho.meti.go.jp/koukai/kenkyukai/jigyousyoukei/2016/160426jigyousyoukei5.pdf" target="_blank" rel="nofollow">事業承継に関する現状と課題</a>（2016年4月、中小企業庁財務課）</cite></p>

<h3>後継者の決定状況</h3>
<p>70代・80代の経営者でも「準備をしている」と答えたのは半数以下...。</p>
<p><img src="<%= path.img + 'succession/graph--02.png' %>" alt="中小企業の経営者は、あまり事業承継の準備をしていない...。"><br><cite><a href="https://www.jfc.go.jp/n/findings/pdf/sme_findings160201.pdf" target="_blank" rel="nofollow">「中小企業の事業承継に関するインターネット調査」の概要</a>（2016年2月、日本政策金融公庫総合研究所）</cite></p>


<h2>円滑な事業承継が重要</h2>
<p>後継者候補がいる場合でも、円滑な事業の引き継ぎに失敗する事例が数多く存在していることと親族に円満だった親族関係が、利害の対立により嫌悪になり、ひいては<span class="bg-line">親族間で絶縁</span>といったようなことまで起こり得ます。</p>

<h3>親族間の不和を超え、従業員の生活さえも脅かすことに...。</h3>
<p>このようなトラブルを抱えた企業では、社業が発展するどころか、経営に悪影響を及ぼし始める事例が数多く存在します。<strong class="bg-line">「お家騒動」</strong>の勃発とともに、業績が悪化し、ついには親族間の不和を超え、従業員の生活さえも脅かされることになります。<br><span class="bg-line">そのような事態を招いてしまった会社の先代社長でさえ、<strong>事業承継をする前には</strong><u>「うちに限ってそんなことはない」</u>と、思っていたのではないでしょうか。</span></p>

<h3>ヒト・モノ・カネの承継も含むからこそ、<br>後継者への承継は絶対に失敗したくない！</h3>
<p>そう思っている経営者でもわからないことが多いのではないですか？<br>例えば…</p>
<div class="row">
	<div class="column medium-8">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-square-o"></i>何から考えるべきかわからない</li>
			<li><i class="fa-li fa fa-square-o"></i>どこから手をつければよいのかわからない</li>
			<li><i class="fa-li fa fa-square-o"></i>誰に相談すればよいのかわからない</li>
			<li><i class="fa-li fa fa-square-o"></i>事業承継の話を家族にどうやって切り出せばよいのかわからない</li>
		</ul>
	</div>
	<div class="column medium-4">
		<a href="https://www.law-yamashita.com/contact/contact-form" class="button large" title="今すぐ相談する">今すぐ相談する<i class="fa fa-arrow-right ml1"></i></a>
	</div>
</div>

<h2>失敗しがちな事業承継で成功させる<strong class="bg-line">３つのポイント</strong></h2>
<div class="l-listbox_wrapper">
	<div class="l-listbox">
		<h3 class="l-listbox_title">事業承継は重要で<br>緊急性が高いことを理解する</h3>
		<p class="l-listbox_description">事業を後継者へ引き継ぐには、相当の準備期間が必要です。早めに対策するとともに、期限や予定を決め、後継者が困らない状況を用意することが成功のポイントです。事業承継前に株価が上昇してしまうと株式の取得税など、納税資金が足りなくなる危険性があるからです。</p>
	</div>
	<div class="l-listbox">
		<h3 class="l-listbox_title">情報を整理する</h3>
		<p class="l-listbox_description">まずは、現状を把握しましょう。様々な視点から会社をとりまく各状況を正しく認識することが必要です。現状把握が十分でなければ、後継者はもちろん関係者との意思疎通や事業承継の方法の確定もうまく進みません。</p>
	</div>
	<div class="l-listbox">
		<h3 class="l-listbox_title">「頼れる事業承継の専門家」<br>を確保しておく。</h3>
		<p class="l-listbox_description">事業承継の計画立案から実行までを自社単独あるいは社長単独で行うことは、たいへん困難です。早い段階から、事業承継士・弁護士・税理士・公認会計士などの専門家を活用した相談・情報収集を行いましょう。</p>
	</div>
</div>

<h2>弁護士事務所である山下江法律事務所が<br>「事業承継」で選ばれる理由</h2>
<h3>事業承継計画の立案～実現を支援する<strong class="bg-line">事業承継士資格保有者</strong>がいます。</h3>
<h3><span class="bg-line">相続アドバイザーが培った他士業との連携</span>により最適な体制を提案します。</h3>
<h3><span class="bg-line">弁護士</span>が事業承継計画の法的なバックアップを行います。</h3>

<h2>依頼者の声</h2>
<p><img class="size-full wp-image-4591" src="https://www.law-yamashita.com/wp-content/uploads/2015/06/kigyo-voice.gif" alt="" width="500" height="631" /></p>
<p>家業として祖父が起こしその後長男の伯父が継いだ会社があり叔父夫婦には子どもがおらず遺言状もなかったので伯父死亡後会社の経営権が伯父側（他人）に渡ってしまうところでした。<br>とても不利な状況の中会社の経営権を守ってくれる弁護士3～4名に当りました。でもどの方も「無理」ですとけんもほろろに断られそうしたなか知り合いから山下江先生をご紹介いただきました。<br>山下先生は勝率は数％程度だがやれることはすべてしましょうと引き受けていただきその後先生のアンテナの広さ緻密な手腕でいろんな法的手続などをされ5,6年かかりましたが当家が経営権を取り戻すことができ現在、会社は順調な経営を続けております。先生には顧問弁護士としていろんな相談に乗って頂いて細かいことでも気軽に相談に応じていただけるので安心して経営できています。信頼が一番、”感謝”の一言です。</p>

<h2>事業承継の専門家、<strong class="bg-line">事業承継士</strong>とは？</h2>
<p>事業承継とは、会社の理念／儲かる仕組み／独自のノウハウ／企業文化を承継し、後継者による更なる成長を図ることです。<br>事業承継士は、これらの諸問題を総合的に解決することのできる唯一の資格です。「社長個人の相続」と「会社の事業承継」の両方の分野を融合させたものであり、単なる相続対策、節税対策にとどまらず、弁護士・公認会計士・税理士・中小企業診断士といったそれぞれの専門家をコーディネートする立場にあり、個別最適ではなく全体最適を目指して支援することができます。</p>
<h3>事業承継士による支援</h3>
<p>事業計画の立案／定款の見直し／企業理念の図式化／経営しやすい制度設計／家族会議のコーディネート／株価コントロール／経営承継円滑化法の適用／事業資産としての不動産対策／後継者支援</p>
<h3>事業承継士はこんな人です</h3>
<div class="clearfix">
	<a href="https://www.law-yamashita.com/members/%E5%B1%B1%E5%8F%A3%E4%BA%9C%E7%94%B1%E7%BE%8E" target="_blank" class="float-left mr2"><img src="//www.law-yamashita.com/wp-content/uploads/2015/09/yamaguchi-1.jpg" alt="後継者への承継をサポートする専門家、事業承継士である山口亜由美"></a>
	<h4>事業承継士／山口亜由美</h4>
	<p>山下江法律事務所 経営企画部長<br>（２級FP技能士、宅地建物取引士）</p>
	<p><a href="https://www.law-yamashita.com/members/%E5%B1%B1%E5%8F%A3%E4%BA%9C%E7%94%B1%E7%BE%8E" class="button waves-effect" target="_blank">詳しく見る</a></p>
</div>
<p>祖父、父、叔父のそれぞれが事業を営む経営者一家で三姉妹の長女として育つ。<br>自身も「家業を継がない」事業承継を経験。2011年からはNPO法人相続アドバイザー協議会より認定を受け、相続アドバイザーとしても活動。2015年一般社団法人はなまる相続を設立、代表理事に就任。相続・事業承継に関係する専門家との人脈が豊富。</p>


<div class="l-cta_page">
	<p class="-title">事業承継に関するお問い合わせは、お電話でも受け付けております。<br>お気軽にお電話ください。</p>
	<div class="text-center -cta"><a href="tel:0120783409" title="お気軽にお電話ください。"><img src="<%= path.img + 'free-dial.png'; %>" alt="フリーダイヤルでお待ちしております。"><span>平日０９：００～１９：００<br>土曜１０：００～１７：００</span></a></div>
	<p class="text-center">または、お問い合わせフォームから<br><a href="https://www.law-yamashita.com/contact/contact-form" title="お問い合わせフォームから相談する" class="button large"><i class="fa fa-envelope mr1"></i>お問い合わせフォーム</a></p>
</div>