<div class="row">
	<div class="medium-6 column">
		<h2>略歴</h2>
		<table>
			<tbody>
				<tr>
					<td>出身地</td>
					<td>山口県岩国市出身</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>岩国高校卒業</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>慶應義塾大学法学部法律学科卒業</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>慶應義塾大学法科大学院修了</td>
				</tr>
				<tr>
					<td>平成２７年９月</td>
					<td>司法試験合格</td>
				</tr>
				<tr>
					<td>平成２７年１１月</td>
					<td>最高裁判所司法研修入所</td>
				</tr>
				<tr>
					<td>平成２８年１２月</td>
					<td>司法修習終了・広島弁護会に登録</td>
				</tr>
			</tbody>
		</table>
		<h2>所属団体</h2>
		<p>広島弁護士会</p>
		<h2>趣味</h2>
		<p>散歩、料理、読書</p>
	</div>
	<div class="medium-6 column">
		<h2>主な取扱分野<br />
			力をいれたい分野</h2>
		<p>破産、交通事故、一般民事事件</p>
		<h2>マイベストコラム</h2>
		<p>近日公開！</p>
	</div>
</div>